@model IEnumerable<EventsPlus.Models.EventSchedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventCompanyID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventScheduleID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventScheduleID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventScheduleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
